#sidebar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: green;
  position: relative;
  left: -40px;
  top: -40px;
  width: 40vh;
  height: 100vh;
}

#links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #2c2197;
}

#links .link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  width: 100%;
}

#links img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
